<html>

<head>
    <style>
        @media print {
            .pagebreak {
                page-break-after: always;
            }

            body 
            {
                zoom: 68%;
            }
        }
    </style>
</head>

<body>
    <h2 style="text-align: center;">&nbsp;<strong>BOARD OF INTERMEDIATE EDUCATION</strong></h2>
    <blockquote>
        <p style="text-align: center;">Govt of Telangana, Hyderabad.<strong><br /></strong></p>
    </blockquote>
    <p style="text-align: center;"><strong>APPLICATION FORM FOR THE YEAR <u>2020-21</u></strong></p>
    <p style="text-align: center;">College Code:&nbsp;</p>
    <p><strong>&nbsp;</strong></p>
    <table style="border-collapse: collapse; width: 100%;" border="1">
        <tbody>
            <tr>
                <td style="width: 30%;"><strong>Class in which Student admitted</strong></td>
                <td style="width: 15%">
                    <div>
                        <div>&amp;&amp;&amp;Class&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>Admission No. </strong><br />(office use)</td>
                <td style="width: 15%;">&nbsp;</td>
                <td style="width: 15%;"><strong>College ID No.</strong></td>
                <td style="width: 15%;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>1. Candidate's Name</strong><br />(As per SSC, CBSE, ICSE, OTHER)
                </td>
                <td style="width: 15%" colspan="5">
                    <div>
                        <div>&amp;&amp;&amp;Student_Name&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>2. Father's Name</strong><br />(As per SSC, CBSE, ICSE, OTHER)</td>
                <td style="width: 15%" colspan="5">
                    <div>
                        <div>&amp;&amp;&amp;Father_Name&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>3. Mother's Name</strong><br />(As per SSC, CBSE, ICSE, OTHER)</td>
                <td style="width: 15%" colspan="5">
                    <div>
                        <div>&amp;&amp;&amp;Mother_Name&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>4. School Name</strong></td>
                <td style="width: 15%" colspan="3">
                    <div>
                        <div>&amp;&amp;&amp;10_School_Name&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>SSC Hall Ticket No.</strong></td>
                <td style="width: 15%;">
                    <div>
                        <div>&amp;&amp;&amp;10_HallticketNo&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>5. Nationality</strong></td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Nationality&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>6. Mother Tongue</strong></td>
                <td style="width: 15%" colspan="2">&nbsp;&amp;&amp;&amp;Mother_Tongue&amp;&amp;&amp;</td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>7. Sex</strong></td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Gender&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>8. Religion</strong><br />(Hindu, Islam, Christian)</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Religion&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>9. Caste (BC , SC, ST)</strong><br /><strong>Certificate copy
                        enclosed</strong></td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div></div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>10. Sub Caste</strong><br />(Compulsory)</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Sub_Caste&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>11. Physically Handicapped</strong></td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Physically_Handicapped&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>12. Date of Birth</strong></td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Date_of_birth&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>13. Group</strong>(Part&ndash;III)</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Group_name&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>14. Student Email ID</strong></td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Student_Email&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;" rowspan="2"><strong>15. Identification Marks </strong><br />(Compulsory)
                </td>
                <td style="width: 15%" colspan="5">1.&nbsp;
                    &amp;&amp;&amp;Identification_1&amp;&amp;&amp;
                </td>
            </tr>
            <tr>
                <td style="width: 15%" colspan="5">2.&nbsp;
                    &amp;&amp;&amp;Identification_2&amp;&amp;&amp;
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>16. Parent Profession</strong></td>
                <td style="width: 15%">
                    <div>
                        <div>&amp;&amp;&amp;Parent_Profession&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>17. Parent&rsquo;s Annual Income</strong></td>
                <td style="width: 15%;">
                    <div>
                        <div>&amp;&amp;&amp;Parent_Annual_Income&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>18. Relationship to the candidate</strong></td>
                <td style="width: 15%;">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>19. Second language </strong></td>
                <td style="width: 15%" colspan="5">
                    <div>
                        <div>&amp;&amp;&amp;Second_Language&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <table style="border-collapse: collapse; width: 100%;" border="1">
        <tbody>

            <tr>
                <td style="width: 30%;"><strong>20. Present Address</strong></td>
                <td style="width: 15%" colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 30%;">H No.</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Present_House_No&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;">Street</td>
                <td style="width: 15%" colspan="2"></td>
            </tr>
            <tr>
                <td style="width: 30%;">Flat No.</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div></div>
                    </div>
                </td>
                <td style="width: 15%;">Mandal</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Present_Mandal&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">District</td>
                <td style="width: 15%" colspan="2">&amp;&amp;&amp;Present_District&amp;&amp;&amp;</td>
                <td style="width: 15%;">State &amp; Pincode</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Present_State_Pin&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>21. Permanent Address</strong></td>
                <td style="width: 15%" colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 30%;">H No.</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Permanent_House_No&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;">Street</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">Flat No.</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div></div>
                    </div>
                </td>
                <td style="width: 15%;">Mandal</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Permanent_Mandal&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;">District</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Permanent_District&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;">State &amp; Pincode</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Permanent_State_Pin&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>22. Mobile No. of Parent/ Guardian </strong></td>
                <td style="width: 15%">
                    <div>
                        <div>&amp;&amp;&amp;Mobile_1&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>2.</strong></td>
                <td style="width: 15%">
                    <div>
                        <div>&amp;&amp;&amp;Mobile_2&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%"><strong>3.</strong></td>
                <td style="width: 15%">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 30%;"><strong>23. Aadhar Card No. </strong>(UID)</td>
                <td style="width: 15%" colspan="2">
                    <div>
                        <div>&amp;&amp;&amp;Aadhaar_Number&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%;"><strong>24. Ration Card No.</strong></td>
                <td style="width: 15%" colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 15%" colspan="2"><strong>Student Signature</strong></td>
                <td style="width: 15%" colspan="2"><strong>Photo of the student</strong></td>
                <td style="width: 15%" colspan="2"><strong>Student Left thumb impression</strong></td>
            </tr>
            <tr>
                <td style="width: 15%" colspan="2" height="200px">
                    <div>
                        <div>&amp;&amp;&amp;Student_Signature&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%" colspan="2" height="200px">
                    <div>
                        <div>&amp;&amp;&amp;Student_Photo&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td style="width: 15%" colspan="2" height="200px">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <p><br /> <strong>Notes: </strong> <br /> &gt; Board of Intermediate Education is required to Community: OC, BC-A,
        BC-B, BC-C, BC-D, BC- E, SC, ST, OTHERS <br /> &gt; Subcaste: As per example: PADMASALI, GOUD <br /> &gt; Oral
        request for changing of the Second language will not be entertained <br /> &gt; It should be in writing and
        bring to the notice of the Principal <br /> &gt; Second Language will not be changed after 31st August</p>

    <div class="pagebreak"></div>

    <h3>25. Details of the institution of the Previous Study :</h3>


    <table style="border-collapse: collapse; width: 100%; text-align: center;" border="1">
        <tbody>
            <tr>
                <th style="width: 10%;">Class</th>
                <th style="width: 40%;">School Name</th>
                <th style="width: 25%;">Place</th>
                <th style="width: 15%;">Medium</th>
                <th style="width: 10%;">Year of study</th>
            </tr>
            <tr>
                <td><strong>VI</strong></td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;6_School&amp;&amp;&amp;&nbsp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;6_Place&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>&amp;&amp;&amp;6_medium&amp;&amp;&amp;</td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;6_year&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>VII</strong></td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;7_School&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;7_Place&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>&amp;&amp;&amp;7_medium&amp;&amp;&amp;</td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;7_year&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>VIII</strong></td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;8_School&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;8_Place&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>&amp;&amp;&amp;8_medium&amp;&amp;&amp;</td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;8_year&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>IX</strong></td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;9_School&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;9_Place&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>&amp;&amp;&amp;9_medium&amp;&amp;&amp;</td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;9_year&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>X</strong></td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_School&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_Place&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>&amp;&amp;&amp;10_medium&amp;&amp;&amp;</td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_year&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>26. Mention the Board/ University from which the candidate passed X class</h3>
    <table style="border-collapse: collapse; width: 100%; text-align: center;" border="1">
        <tbody>
            <tr>
                <th style="width: 30%;"><strong>(Name of the Board Or University)</strong></th>
                <th style="width: 25%;"><strong>Regd. No.</strong></th>
                <th style="width: 25%;"><strong>Month &amp; Year Of passing</strong></th>
                <th style="width: 10%;"><strong>Grade</strong></th>
                <th style="width: 10%;"><strong>Passed in One attempt/ Compartmental</strong></th>
            </tr>
            <tr>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_Board&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_regd_no&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_year&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_grade&amp;&amp;&amp;</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>&amp;&amp;&amp;10_attempt&amp;&amp;&amp;</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>27. State whether you been vaccinated or not: YES/ NO</h3>
    <h3>28. Details of career subsequent after passed the qualifying Examination till the date of this application to be
        given</h3>
    (if a period of one year or more has elapsed since passing the qualifying
    Examination )
    <table style="border-collapse: collapse; width: 100%; text-align: center;" border="1">
        <tbody>
            <tr>
                <th style="width: 25%;"><strong>Course</strong></th>
                <th style="width: 25%;"><strong>Institution</strong></th>
                <th style="width: 10%;"><strong>Academic Year(s)</strong></th>
                <th style="width: 15%;"><strong>Examination passed</strong></th>
                <th style="width: 25%;"><strong>Regd.No.&amp; Year</strong></th>
            </tr>
            <tr>
                <td><strong>&nbsp;</strong></td>
                <td><strong>&nbsp;</strong></td>
                <td><strong>&nbsp;</strong></td>
                <td><strong>&nbsp;</strong></td>
                <td><strong>&nbsp;</strong></td>
            </tr>
        </tbody>
    </table>

    <h3>29. Extracurricular activities whether you propose</h3>
    <p>a) Games/ Sports&nbsp;&nbsp;&nbsp;b) N.C.C&nbsp;&nbsp;&nbsp;c) Debates </p>
    <p></p>
    <p></p>
    <hr />
    <p>I have read the &ldquo;rules of Admission&rdquo; and other Regulations appended here to
        and given in the prospectus and promise to abide by the rules, regulations and orders of the Board of
        Intermediate Education as well as the authorities of the Junior College. I also declare that the particulars
        made in the application are correct and true to the best of my knowledge and belief.</p>
    <div style="margin-top: 30px;">
        <h4 style="text-align: left; width: 49%; display: inline-block;">Date
            &amp;&amp;&amp;Date&amp;&amp;&amp;</h4>
        <h4 style="text-align: right; width: 50%; display: inline-block;" height="50px">
            &&&Student_Signature&&& <br />
            Signature of the Candidate
        </h4>
    </div>
    <hr />
    <h3 style="text-align: center;">TO BE SIGNED BY THE FATHER/ GUARDIAN</h3>
    <p>I agree the ward&rsquo;s admission into the I/ II Intermediate Course prescribed by the
        B.I.E. I shall be responsible for the payment of all fees. I shall be responsible for his/ her conduct and
        behavior during his/ her college study I shall withdraw my ward from the college if the authorities feel his/
        her progress in study, behavior, and conduct are not satisfactory.</p>
    <div style="margin-top: 30px;">
        <h4 style="text-align: left; width: 49%; display: inline-block;">Date &amp;&amp;&amp;Date&amp;&amp;&amp;</h4>
        <h4 style="text-align: right; width: 50%; display: inline-block;" height="50px">
            &&&Parent_Signature&&& <br />
            Signature of the Father/ Guardian
        </h4>
    </div>
    <hr />
    <h3 style="text-align: center;">THE CANDIDATE IS ADMITTED/ REJECTED</h3>
    <div style="margin-top: 30px;">
        <h4 style="text-align: left; width: 49%; display: inline-block;">Date</h4>
        <h4 style="text-align: right; width: 50%; display: inline-block;">PRINCIPAL</h4>
    </div>
</body>

</html>